/*
  Based on Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  --reset-line-height: 1.2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  /* sorry we gotta smoosh by default, no 1.5 */
  line-height: var(--reset-line-height);
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: var(--reset-line-height);
}
#root,
#__next {
  isolation: isolate;
}
/* --------------------- adam's stuff -------------------- */

/* header resets, maintain rhythm by default */

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}
