---
fullName: Adam Tolley
jobTitle: Senior Software Engineer
email: adam.tolley+jobs@gmail.com
linkedin: linkedin.com/in/adamtolley
github: github.com/refactorized
---

<head>
  <link href="/style/reset.css" rel="stylesheet" />
  <link href="/style/style.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
  <title>{{fullName}} {{jobTitle}}</title>
</head>
<div class="page">
  <header>
    <div class="name">{{fullName}}</div>
    <div class="title">{{jobTitle}}</div>
  </header>
  <section class="content">{{content}}</section>
  <section class="contact">
    <div class="email">{{email}}</div>
    <div class="github">{{github}}</div>
    <div class="linkedin">{{linkedin}}</div>
  </section>
</div>
